# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Ignore PyCharm settings
.idea/

# Ignore virtual environment
venv/

# Ignore Python compiled and cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore logs and database files
logs/
*.log
*.sqlite3
*.db

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore dependency lock files
Pipfile.lock
poetry.lock